@use 'variables' as var;
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-size: 16px;
	padding: 0;
	margin: 0;
}
.text-center {
	text-align: center;
}
h1 {
	font-size: 4rem;
	margin: 0;
}
h2 {
	font-size: 3.8rem;
	margin: 0;
}
h3 {
	font-size: 3rem;
	margin: 0;
}
p {
	// color: var.$blanco;
	font-family: var.$fuente;
	font-weight: 400;
	padding: 0 1rem;
}